.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  border: none;
  color: white;
}
